<section class="container">

    <form class="form" (ngSubmit)="transferir()">
        <h1 class="title">Nova Transferência</h1>

        <div class="form-field">
            <label class="form-field__label" for="valor">Valor</label>
            <input class="form-field__input" id="valor" type="text" [(ngmodel)]="">
        </div>

        <div class="form-field">
            <label class="form-field__label" for="valor">Destino</label>
            <input class="form-field__input" id="valor" type="text" [(ngmodel)]="">
        </div>

        <div class="btn">
            <button class="button">Transferir</button>
        </div>

    </form>

</section>